*/.DS_Store
.DS_Store
*/macos-x86_64
*/macos-x86_64
*/macos-aarch64/
*/data/
SoundViz/Scatman John - I'm A scatman.mp3
Cymatica/playlists.json
*.autosave
/windows-amd64
/windows-amd64/
*/windows-amd64/
